<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">AGILE</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#/">Signin</a></li>
      <li><a href="#/register">Signup</a></li>
    </ul>
  </div>
 </nav>
         <div class="panel-heading"><center><b>{{title}}</b></center></div>
           <div class="panel-body">
               <form  novalidate method="post" ng-submit="register(username,password)">
                 <div class="form-group"><input type="text" placeholder="Username..." ng-model="username" value="" class="form-control uname" name="username" size="15"></div>
                 <div class="form-group"><input type="password" placeholder="Password..." ng-model="password" value="" class="form-control pass" name="password" size="15"></div>
								 <div class="form-group"><input type="password" placeholder="Re-Enter Password..." ng-model="repassword" value="" class="form-control pass" size="15"></div>
                 <input  type="submit" class="btn btn-primary btn-block" value="Register">
               </form>
           </div>
