
      <div class="row" ng-repeat="alert in alerts">
          <span>{{alert.marketName}}</span><br/>
          <span>{{alert.threshold}}</span><br/>
      </div>

      <div>
        <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#alertModal">Add Alert</button>
        <div id="alertModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Alert Information</h4>
                  </div>
                  <div class="modal-body">
                    <form  novalidate method="post" ng-submit="addAlert()">
                      <div class="form-group"><label>Market Name</label><input type="text" placeholder="Pair..." ng-model="curr_pair" value="" class="form-control" size="15"></div>
                      <div class="form-group"><label>Threshold</label><input type="text" placeholder="Limit Value..." ng-model="limit" value="" class="form-control" size="15"></div>
                      <div class="form-group"><label>Contact Number</label><input type="text" placeholder="Contact Number..." ng-model="number" value="" class="form-control" size="15"></div>

                      <input  type="submit" class="btn btn-primary btn-block" value="Add Alert">
                    </form>
                  </div>

                </div>
          </div>
      </div>
      </div>
